body {
    background-color: rgb(7, 25, 53);
    }
.InvisContain {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 3px solid rgba(0, 255, 21, 0);
    width: 400px;
    height: 300px;
    margin-left: -200px;
    margin-top: -150px;
    text-align: center;
    }
.Content {
    font-size: 0.8em;
    font-family: sans-serif;
    background-color: #ccc;
    position: relative;
    left: 50%;
    top: 50%;
    width: 240px;
    height: 50px;
    margin-left: -120px;
    margin-top: -25px;
    text-align: center;
    }
.glow {
    color: #ffffff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #ffffff, 0 0 5px #ffffff;
    }
    to {
        text-shadow: 0 0 10px #ffffff, 0 0 5px #ffffff;
    }
}
.regular {
    color: #ffffff;
    text-align: center;
}

